python-telegram-bot[webhooks]==21.11.1
aiohttp==3.13.2
beautifulsoup4==4.12.2
lxml==5.1.0
pydantic[dotenv]==2.5.3
pydantic-settings==2.1.0
pyyaml==6.0.1
defusedxml==0.7.1
requests==2.32.5
pydocstyle==6.3.0
mkdocs-material==9.5.3
mkdocstrings[python]==0.24.1
playwright==1.40.0
pandas==2.1.4
redis[hiredis]==5.0.1
tornado==6.5.2
